@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {

}
s
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}



@theme {
  --color-bg: #ffffff;
  --color-text: #000000;
}

@theme dark {
  --color-bg: #000000;
  --color-text: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

